@font-face {
               font-family:font1 ;
               src: url("./assets/Fontspring-DEMO-rocgroteskcomp-regular.otf");
}

.f1{
               font-family: font1;
}

.item>p{
               padding: 6px 12px;         
               
               font-weight: lighter;
               background-color: rgba(255, 255, 255, 0.1);
               border-radius: 40px;
               border: 1px solid rgba(255, 255, 255, 0.1);
               backdrop-filter: blur(20px);
               transition: 0.3s;
}              

.item>p:hover{
               background: none;
               border: 1px solid rgba(255, 255, 255, 0.25);
}

.preview{
               position: fixed ;
               width: 100% ;
               height: 100% ;
               color: #fff;
               z-index: 1;
}

.preview-bg{
               position: absolute; 
               width: 100%;
               pointer-events: none;
               height: 100%;
               opacity: 0.35;
}

.preview-title h1{
               font-weight:  lighter;
               font-size: 80px;
}

.preview p , .preview-description p{
               font-size: 14px;
               line-height: 120%;
}

.preview-varient-1 .preview-img{
               position: absolute;
               bottom: 0;
               right: 0;
               margin: 2em;
               width: 300px;
               height: 400px;
               clip-path: polygon(0% 100%, 100%, 100% , 100% 100% , 0% 100%);

}

.preview-varient-1 .preview-title{
               position: absolute;
               top: 35%;
               left: 25%;
}
.preview-varient-1 .preview-tags{
               position: absolute;
               top: 35%;
               left: 40%;
}

.preview-varient-1 .preview-description{
               width: 250px;
               position: absolute;
               top: 25%;
               right: 25%;
}
.preview-varient-3 .preview-img{
               position: absolute;
               bottom: 10%;
               left: 15%;
               margin: 2em;
               width: 300px;
               height: 400px;
               clip-path: polygon(0% 0%, 0%, 0% , 0% 100% , 0% 100%);

}

.preview-varient-3 .preview-title{
               position: absolute;
               bottom: 40%;
               right: 15%;
}
.preview-varient-3 .preview-tags{
               position: absolute;
               bottom: 20%;
               right: 30%;
}

.preview-varient-3 .preview-description{
               width: 250px;
               position: absolute;
               left: 20%;
               top: 15%;
}
.preview-varient-2 .preview-img{
               position: absolute;
               top: 10%;
               right: 5%;
               margin: 2em;
               width: 300px;
               height: 400px;
               clip-path: polygon(100% 0%, 100%, 0% , 100% 100% , 100% 100%);

}

.preview-varient-2 .preview-title{
               position: absolute;
               bottom: 30%;
               left: 50%;
}
.preview-varient-3 .preview-tags{
               position: absolute;
               bottom: 20%;
               right: 30%;
}

.preview-varient-3 .preview-description{
               width: 250px;
               position: absolute;
               left: 20%;
               top: 15%;
}