@font-face {
               font-family:font1 ;
               src: url("./assets/Fontspring-DEMO-rocgroteskcomp-regular.otf");
}

.f1{
               font-family: font1;
}

.item>p{
               
}